<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>myTodo-IndexPage</title>
    <link rel="stylesheet" href="/statics/css/stylesIndex.css">
  </head>
  <body>
    <section id="signup-login">
      <form id="login-form">
        <p class="input-div">
          <label for="username">Username:</label>
          <input class="input-box" type="text" name="username" id="username" placeholder="Email or Username" autocomplete="on" required>
        </p>
        <p class="input-div">
          <label for="password">Password:</label>
          <input class="input-box" type="text" name="password" id="password" autocomplete="off" required>
        </p>
        <div id="btn-container">
          <button id="login-btn">Login</button>
          <button id="signup-btn">Signup</button>
        </div>
      </form>
    </section>
    <script src="/statics/JS/scriptIndex.js"></script>
  </body>
</html>
