<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTodo-MainPage</title>
    <link rel="stylesheet" href="/statics/css/stylesMain.css" >
</head>
<body>
    <section id="myTodo-container">
      <div id="myTodo-head">
        <h2 class="center"><span>myTodo</span></h2>
        <div id="take-input">
          <div class="center"><input id="input" placeholder="Type Your Todo Here" type="text" name="input"></div>
          <div class="center"><button id="add/edit"></button></div>
        </div>
        <div id="btn-main">
          <button id="add-todo" class="center"><span>Add Todo</span></button>
          <button id="delete-last-todo" class="center"><span>Delete Todo</span></button>
        </div>
      </div>
      <hr id="divider">
      <div id="myTodo-list"></div>
    </section>
    <script src="/statics/JS/scriptMain.js"></script>
</body>
</html>
