
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>myTodo-Registration</title>
    <link rel="stylesheet" href="/statics/css/stylesSignup.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  </head>
  <body>
    <section id="signup-login">
      <form id="signup-form">
        <p class="input-div">
          <label for="firstname">First Name:</label>
          <input class="input-box" type="text" name="firstname" id="firstname" placeholder="ex - Pappu" autocomplete="on" required>
        </p>
        <p class="input-div">
          <label for="lastname">Last Name:</label>
          <input class="input-box" type="text" name="lastname" id="lastname" placeholder="ex - Halwai" autocomplete="on" required>
        </p>
        <p class="input-div">
          <label for="email">E-mail:</label>
          <input class="input-box" type="text" name="email" id="email" placeholder="ex - halwai.pappu@hotmail.com" autocomplete="on" required>
        </p>
        <p class="input-div">
          <label for="username">Username:</label>
          <input class="input-box" type="text" name="username" id="username" placeholder="ex - pappuHalwai123" autocomplete="on" required>
        </p>
        <p class="input-div">
          <label for="password">Password:</label>
          <input class="input-box" type="password" name="password" id="password" autocomplete="off" required>
        </p>
        <div id="btn-container">
          <button type="button" id="signup-btn">Signup</button>
        </div>
      </form>
    </section>
    <script src="/statics/JS/scriptSignup.js"></script>
  </body>
</html>
