/* Importing Font-Families -- 'SUSE' & 'Nerko One' */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=SUSE:wght@100..800&display=swap');

:root {
    --test: #1752b0;
    --lightBlue: rgb(69, 156, 255);
    --darkBlue: rgb(79, 53, 165);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "SUSE", sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, var(--lightBlue), var(--test) );
}

#myTodo-container {
    width: 80vw;
    max-width: 700px;
    margin: 25px auto;
    padding: 20px 30px;
    background-color: white;
    border-radius: 18px;
}

#myTodo-head {
    display: flex;
    justify-content: space-between;
}

h2 {
  font-family: "Nerko One", cursive;
  color: #0b367a;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* my Profile Section -- START */

#profile-container {
  display: flex;
}

#btn-main {
    width: 82px;
}

#add-todo {
  height: 100%;
}

#myProfile-section {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  min-width: 170px;
  padding: 5px 8px;
  color: white;
  border-radius: 5px;
}

#dropdown-label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}

#ham-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.7px;
  margin-right: 20px;
}

.ham-line {
  height:2px;
  border-radius: 50%;
  background-color: white;
  width: 19px;
  transition: all 200ms linear;
}

.ham-open > div:first-child {
  transform: rotate(45deg) translate(2px, 5px);
}

.ham-open > div:nth-child(2) {
  opacity: 0;
}

.ham-open > div:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -5px);
}

.menu-close {
  position: absolute;
  top: 50px;
  left: 0;
  width: 91%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: 6px;
  background: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  padding: 8px 8px;
  color: white;
  border-radius: 5px;
  pointer-events: none;
  transition: all 200ms linear;
}

.menu-open {
  opacity: 1;
  top: 40px;
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  cursor: pointer;
}


.icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}


/* my Profile Section -- END */



button {
    background: var(--lightBlue);
    border: 2px solid var(--lightBlue);
    padding: 5px 8px;
    color: white;
    border-radius: 5px;
}

#take-input {
  display: none;
  justify-content: center;
  min-width: 265px;
  margin-bottom: 25px;
}

#input {
  padding-left: 4px;
  margin-right: 10px;
  min-width: 550px;
  height: 24px;
  border: 2.5px solid var(--lightBlue);
  border-radius: 6px;
  color: #0b367a;
}

#divider {
  margin-top: 20px;
  margin-bottom: 25px;
  border: 2px solid var(--lightBlue);
  border-radius: 5px;
}

.same-line {
  display: flex;
  justify-content: space-between;
  color: #0b367a;
}

.indent-line {
  margin-bottom: 8px;
}
